@import 'hackmud_colors.css';
@import 'hm-code.css';

@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code'),
         url('/public/fonts/FiraCode-Regular.woff2') format('woff2'),
         url('/public/fonts/FiraCode-Regular.woff') format('woff'),
         url('/public/fonts/FiraCode-Regular.ttf') format('truetype');
    font-feature-settings: 'liga' 0;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Fira Code', Consolas, monospace;
    font-size: 14pt;
    --bloom-radius: 2px;
}

body {
    display: flex;
    flex-direction: column;

    color: var(--color-default);
    text-shadow: var(--color-default) 0 0 var(--bloom-radius);

    background-color: var(--color-background);
}

a, a:visited {
    color: var(--color-n);
    text-shadow: var(--color-n) 0 0 var(--bloom-radius);
}

a.default-color, a:visited.default-color {
    color: var(--color-default);
    text-shadow: var(--color-default) 0 0 var(--bloom-radius);
    text-decoration: none;
}

small {
    font-size: 80%;
    color: var(--color-0);
    text-shadow: var(--color-0) 0 0 var(--bloom-radius);
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    column-gap: 1rem;

    padding: 0 2em;
    border-bottom: 1px solid gray;
}

.navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin-top: 5em;
    padding: 2em 0;

    border-top: 1px solid gray;
}

blockquote {
    margin: 0;
    padding: 0.5em 1.5em;
    border-left: 3px solid var(--color-default);
}

blockquote p {
    margin: 0;
}

hr {
    margin: 2em 0;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    font-weight: normal;
}

th, td {
    border: 1px solid;
    padding: 1rem;
}
